


.dashboard-container {
    width: 100%;
    min-height: 100vh;
    background-image: url('../../photos/background9.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.dashboard-overlay {
    width: 100%;
    min-height: 100vh;
    background-color: rgba(0, 0, 0, 0.285);
    padding: 0 0 3rem 0;
}

.dashboard-container h1 {
    word-spacing: 15px;
    padding: 60px;
    background-color: rgba(35, 75, 110, 0.847);
    color: white;
    border-bottom: rgb(0, 183, 255) solid 1px;
    border-top: rgb(0, 183, 255) solid 1px;
    margin: 0;
}

.dashboard-btn-container {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 30px;
    text-align: center;
}

.dashboard-btn  {
    width: 17%;
    margin: 10px;
}

.dashboard-btn button {
    width: 100%;
    padding: 20px 0;
    font-size: 1.4vw;
}

.dashboard-btn button:hover {
    background-color: rgb(0, 183, 255);
}


@media only screen and (max-width: 1000px) {
    .dashboard-btn-container {
      flex-direction: column;
    }
    .dashboard-btn {
      width: 90%;
      font-size: 5vw;
    }
  }


@media only screen and (max-width: 500px) {
    .dashboard-container h1 {
        padding: 12vw 0;
        font-size: 8vw;
    }

    .dashboard-container button {
        font-size: 5vw;
    }
}

