
.navbar {
    width: 100%;
    min-height: 5rem;
    background-color: rgb(239, 239, 239);
    border-bottom: dotted 3px rgb(0, 183, 255);
    display: flex;
}




.navbar-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    flex-wrap: wrap-reverse;
}

.navbar-container2 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.2rem;
}

.nav-logout-btn {
    padding: 10px 20px;
    border-radius: 15px;
    background-color: rgb(188, 188, 188);
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.265);
}

.nav-logout-btn:hover {
    background-color: rgb(204, 4, 4);
}


.nav-left-side {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    color: rgb(0, 183, 255);
    font-size: small;
}

.nav-left-side select {
    width: 100%;
    padding: 10px 5rem;
    border-radius: 7px;
    font-size: 1.5rem;
}

.nav-right-side {
    display: flex;
    justify-content: right;
    align-items: center;
    padding: 0 20px;
    gap: 20px;
}


.nav-left-side-container-2 {
    padding: 0 15px;
}

.nav-right-side-container-2 {
    padding: 0 15px;
    display: flex;
    justify-content: right;
    align-items: center;
}


.nav-link-btn-div {
    display: flex;
}

.nav-link-btn {
    padding: 5px 10px;
    box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.374);
    margin: 0 5px;
    font-size: 1.2rem;
    font-weight: 600;
    border-radius: 7px;
    border: 1px solid rgb(0, 183, 255);
}

.nav-link-btn:hover {
    background-color: rgb(0, 183, 255);
    color: white;
}

.nav-right-side button {
    max-width: 100px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    font-size: x-small;
    text-decoration: none;
}

li a:hover {
    background-color: #989898;
    color: white;
}

a:link {
    text-decoration: none;
    color: white;
}

a:visited {
    color: rgb(0, 0, 0);
}


@media only screen and (max-width: 1100px) {
    .login-text {
        font-size: xx-small;
    }
    li a {
        font-size: xx-small;
        padding: 5px;
    }

    .nav-logout-btn {
        padding: 5px 15px;
        font-size: xx-small;
    }

    
    
    .nav-right-side {
        padding: 5px;
    }
    .navbar-container1 {
        padding: 15px 15px;
        justify-content: space-evenly;
    }
    .nav-right-side {
        justify-content: center;
    }
}



@media only screen and (max-width: 500px) {
    .nav-left-side select {
        padding: 10px;
    }   

    .nav-left-side h1 {
        font-size: 8vw;
    }

    .nav-left-side {
        padding: 10px 0;
    }
    .navbar-container1 {
        padding: 5px;
    }

    .nav-right-side {
        display: grid;
    }
    .nav-logout-btn {
        padding: 5px;
        flex-wrap: wrap;
        font-size: 5vw;
    }

    .navbar-container2 {
        display: block;
        font-size: 5vw;
    }

    .nav-left-side-container-2 {
        width: 100%;
        text-align: center;
        padding: 10px 0 0 0;
    }
    .nav-right-side-container-2 {
        width: 100%;
        text-align: center;
        justify-content: center;
        padding: 5px 0;
        display: block;
    }

    
}



@media only screen and (max-width: 250px) {
    .nav-right-side {
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
}